/* UNIVERSAL STYLES */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(275, 100%, 97%)
}

h1 {
    font-size: 56px;
}

h2{
    font-size: 18px;
}

p{
    font-size: 16px;
}

/* CARD COMPONENT */
#FAQCard{
    background-color:hsl(0, 0%, 100%);
    width: 600px;
    padding: 40px;
    border-radius: 1rem;
}

/* HEADER */
.header{
    display: flex;
    align-items: center;
}