/* UNIVERSAL STYLES */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: hsl(275, 100%, 97%);
    position: relative;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 56px;
}

h2{
    font-size: 18px;
    display: inline-block;
}

p{
    font-size: 16px;
    color: hsl(292, 16%, 49%);
    line-height: 1.5rem;
}

#background-img {
    height: 320px;
    min-height: 32%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 0;
}

/* CARD COMPONENT */
#FAQCard{
    background-color:hsl(0, 0%, 100%);
    width: 40%;
    max-width: 800px;
    height: 527px;
    padding: 40px;
    border-radius: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    transition: width 0.2 ease-out;
}

/* HEADER */
.header{
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* QUESTION GRID */
#question-grid{
    display: grid;
    grid-template-columns: 1fr;
}

.question-and-answer{
    padding: 24px 0px;
    align-self: center;
}

.not-first-question{
    border-top: 1px solid hsl(275, 100%, 97%);
}

.question-header{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: space-between;
    align-items: center;
    column-gap: 1.5rem;
}

.question:hover {
    color: hsl(281, 83%, 54%)
}

.question-header svg{
    justify-self: end;
}

.question:hover,
.question-header svg:hover{
    cursor: pointer;
}

.minus{
    display: none;
}

.answer {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out, opacity 0.25s ease-out, margin-top 0.25s ease-in-out;
}
