/* UNIVERSAL STYLES */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(275, 100%, 97%);
    position: relative;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 56px;
}

h2{
    font-size: 18px;
    display: inline-block;
}

p{
    font-size: 16px;
    color: hsl(292, 16%, 49%);
    line-height: 1.5rem;
}

#background-img svg{
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 0;
}

/* CARD COMPONENT */
#FAQCard{
    background-color:hsl(0, 0%, 100%);
    width: 40%;
    max-width: 800px;
    padding: 40px;
    border-radius: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

/* HEADER */
.header{
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* QUESTION GRID */
#question-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 48px;
}

.question-and-answer{
    transition: all 3s ease-out;
}

.question-header{
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: space-between;
    align-items: center;
    column-gap: 1.5rem;
}

.question:hover {
    color: hsl(281, 83%, 54%)
}

.question-header svg{
    justify-self: end;
}

.question:hover,
.question-header svg:hover{
    cursor: pointer;
}

.question-and-answer .answer {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s linear;
}
